<%= form_for @gear do |f| %>

	<li>Equipment name: <%= f.text_field :name %></li>
	<li>Equipment type: <%= f.text_field :gear_type %></li>
	<li>Image of Equipment: <%= f.text_field :image %></li>
	<li>Description: <%= f.text_area :description, size: "50x10" %></li>
	<li>Day Rate: <%= f.text_field :dayrate %></li>
	<li>Week Rate: <%= f.text_field :weekrate %></li>
	<li><%= f.submit %></li>

	<% end %>

