<div class="gear_bold">
	<h3><%= gear.name %></h3>
</div>


<div class="gear_small">
	<p><%= gear.image %></p>
</div>

<div class="gear_small">
	<p>Description: <p>
		<p><%= gear.description %></p>
</div>

<!-- <div class="gear_small">
	<p><%= gear.dayrate %></p>
</div>

<div class="gear_small">
	<p><%= gear.weekrate %></p>
</div> -->
<br>
<br>

	
<% if current_user && current_user.admin  %>
	<%= link_to "Edit", edit_gear_path(gear) %>
<% end %>

<% if current_user && current_user.admin  %>
	<%= link_to "Delete", gear_path(gear), method: :delete %>
<% end %>
