<!DOCTYPE html>
<html>
<head>
  <title>RedDevise1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">

<!--devise div for sign_in/sign_out-->

	<div class="user_signin" >

				<% if user_signed_in? %>
				<ul class="user_signed_in">
					<% if current_user.admin == true %>
						<li>Signed in as admin using <%=current_user.email%></li>
					<% else %>
						<li>Signed in as <%= current_user.email %></li>
					<% end %>

					<li>  Not you? &nbsp <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
				</ul>

				<% else %>
				<ul class="breadcrumb">
					<li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign up", new_user_registration_path, :method => :get %></button></li>
					<li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign In", new_user_session_path, :method => :post %></button></li>
					<li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></button></li>
					<!-- <li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Continue as Guest", gears_path, :method => :get %></button></li> -->
				</ul>
				<% end %>

				<ul class="user_status">
					<li><p class="notice"><%= notice %></p></li>
			  	<li><p class="alert"><%= alert %></p></li>
		  	</ul>

	</div>
<!-- end devise div -->
<h1>thirty<span class="darkgrey bolder">5tudio</span>
	<span class="tagline">Camera Crew /
		<span class="darkgrey"> RED Cinema & Lens packages</span>
</h1>


<div id="page_nav" class="nav nav-tabs navbar-inverse">
	<p>
		<li class="<%=is_active?("/about")%>"><a href="/about"> Info </a></li>
		<li class="<%=is_active?("/gears")%>"><a href="/gears"> Equipment </a></li>
		<li class="<%=is_active?("/events")%>"><a href="/events"> Bookings </a> </li>
		<li class="<%=is_active?("/galleries")%>"><a href="/galleries"> Gallery </a></li>
		<li class="<%=is_active?("/links")%>"><a href="/links"> Stuff & Nonesense </a></li>
		<li class="<%=is_active?("/")%>"><a href="/"> Home </a> </li>

	</p>
</div>

<%= yield %>
<div class="push"></div>
</div>


</body>
	<div class="footer">
		<p>thrity5tudio &copy;  2013</p>
	</div>


</html>
